In [1]:
import re
import pandas as pd
from pathlib import Path
import numpy as np

In [5]:
path= Path("outputs_2.csv")
df= pd.read_csv(path)

In [6]:
df.head()
print(len(df))

64815

In [7]:
#for i in range(len(df)):
    #df[i] = re.sub('\s+', '', df[i])
    #print(df[i])
#for i in range(len(df)):
    #df[i] = df[i].replace('\t', '')
    #df[i] = df[i].replace('\n', '')
    #print(df[i])

for i, row in df.iterrows():
    df.at[i, 'Result'] = re.sub('\s+', '', df.at[i, 'Result'])
for i, row in df.iterrows():
    df.at[i, 'game_type'] = re.sub('\s+', '', df.at[i, 'game_type'])

In [8]:
df.head()

,user_name,play_date,champion,Result,KDA,game_type,p1,p2,p3,p4,...,p2_kda,p3_kda,p4_kda,p5_kda,p6_kda,p7_kda,p8_kda,p9_kda,p10_kda,game_id
0,캬 일,Jan 2 2021 3:07 AM,Kayle,Victory,10.00:1,Flex5:5Rank,캬 일,육식동물,개쩌는붕가,르블루,...,3.75:1,3.67:1,4.00:1,2.75:1,1.20:1,1.75:1,0.75:1,2.75:1,1.80:1,4891229168
1,캬 일,Jan 2 2021 2:30 AM,Kayle,Victory,2.67:1,Flex5:5Rank,캬 일,정신병동우는소,정신병동짖는개,음악별,...,1.43:1,3.40:1,2.00:1,3.00:1,3.00:1,2.83:1,6.33:1,3.17:1,2.33:1,4891099357
2,캬 일,Jan 2 2021 1:53 AM,Talon,Defeat,1.94:1,ARAM,상욱이형이야,나는유혁,눈의조각,캬 일,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,캬 일,Jan 1 2021 2:39 PM,Kayle,Victory,2.22:1,RankedSolo,캬 일,타짜의마음,판테온프레스티지,원딜양보해주,...,4.57:1,1.56:1,4.83:1,2.56:1,2.75:1,5.00:1,2.91:1,2.30:1,2.00:1,4890424048
4,캬 일,Jan 1 2021 1:22 PM,Kayle,Victory,2.44:1,RankedSolo,판테온프레스티지,차칸도히,캬 일,메밀궁수,...,4.43:1,2.44:1,3.43:1,3.75:1,1.64:1,3.25:1,2.86:1,1.80:1,1.44:1,4890360640

In [9]:
for i, row in df.iterrows():
    if df.at[i, 'game_type'] == "Bot":
        df.drop(i, inplace = True)

for i, row in df.iterrows():
    if df.at[i, 'game_type'] == "Tutorial1":
        df.drop(i, inplace = True)
        

for i, row in df.iterrows():
    if df.at[i, 'game_type'] == "Tutorial2":
        df.drop(i, inplace = True)
        

for i, row in df.iterrows():
    if df.at[i, 'game_type'] == "Tutorial3":
        df.drop(i, inplace = True)

for i, row in df.iterrows():
    if 'Level' in df.at[i, 'p1']:
        df.drop(i, inplace = True)

for i, row in df.iterrows():
    if pd.isnull(df.at[i, 'game_length']):
        df.drop(i, inplace = True)

In [10]:
for i, row in df.iterrows():
    if df.at[i, 'game_type'] == "ARAM":
        p1_kda = df.at[i, 'p2_op_scores']
        p2_kda = df.at[i, 'p3_op_scores']
        p3_kda = df.at[i, 'p4_op_scores']
        p4_kda = df.at[i, 'p5_op_scores']
        p5_kda = df.at[i, 'p6_op_scores']
        p6_kda = df.at[i, 'p7_op_scores']
        p7_kda = df.at[i, 'p8_op_scores']
        p8_kda = df.at[i, 'p9_op_scores']
        p9_kda = df.at[i, 'p10_op_scores']
        p10_kda = df.at[i, 'p1_op_rankings']
        game_id = df.at[i, 'p2_op_rankings']
        df.at[i, 'p1_op_scores'] = np.nan
        df.at[i, 'p2_op_scores'] = np.nan
        df.at[i, 'p3_op_scores'] = np.nan
        df.at[i, 'p4_op_scores'] = np.nan
        df.at[i, 'p5_op_scores'] = np.nan
        df.at[i, 'p6_op_scores'] = np.nan
        df.at[i, 'p7_op_scores'] = np.nan
        df.at[i, 'p8_op_scores'] = np.nan
        df.at[i, 'p9_op_scores'] = np.nan
        df.at[i, 'p10_op_scores'] = np.nan
        df.at[i, 'p1_op_rankings'] = np.nan
        df.at[i, 'p2_op_rankings'] = np.nan
        df.at[i, 'p1_kda'] = p1_kda
        df.at[i, 'p2_kda'] = p2_kda
        df.at[i, 'p3_kda'] = p3_kda
        df.at[i, 'p4_kda'] = p4_kda
        df.at[i, 'p5_kda'] = p5_kda
        df.at[i, 'p6_kda'] = p6_kda
        df.at[i, 'p7_kda'] = p7_kda
        df.at[i, 'p8_kda'] = p8_kda
        df.at[i, 'p9_kda'] = p9_kda
        df.at[i, 'p10_kda'] = p10_kda
        df.at[i, 'game_id'] = game_id

In [11]:
for i, row in df.iterrows():
    if df.at[i, 'game_type'] == "SpecialMode":
        p1_kda = df.at[i, 'p2_op_scores']
        p2_kda = df.at[i, 'p3_op_scores']
        p3_kda = df.at[i, 'p4_op_scores']
        p4_kda = df.at[i, 'p5_op_scores']
        p5_kda = df.at[i, 'p6_op_scores']
        p6_kda = df.at[i, 'p7_op_scores']
        p7_kda = df.at[i, 'p8_op_scores']
        p8_kda = df.at[i, 'p9_op_scores']
        p9_kda = df.at[i, 'p10_op_scores']
        p10_kda = df.at[i, 'p1_op_rankings']
        game_id = df.at[i, 'p2_op_rankings']
        df.at[i, 'p1_op_scores'] = np.nan
        df.at[i, 'p2_op_scores'] = np.nan
        df.at[i, 'p3_op_scores'] = np.nan
        df.at[i, 'p4_op_scores'] = np.nan
        df.at[i, 'p5_op_scores'] = np.nan
        df.at[i, 'p6_op_scores'] = np.nan
        df.at[i, 'p7_op_scores'] = np.nan
        df.at[i, 'p8_op_scores'] = np.nan
        df.at[i, 'p9_op_scores'] = np.nan
        df.at[i, 'p10_op_scores'] = np.nan
        df.at[i, 'p1_op_rankings'] = np.nan
        df.at[i, 'p2_op_rankings'] = np.nan
        df.at[i, 'p1_kda'] = p1_kda
        df.at[i, 'p2_kda'] = p2_kda
        df.at[i, 'p3_kda'] = p3_kda
        df.at[i, 'p4_kda'] = p4_kda
        df.at[i, 'p5_kda'] = p5_kda
        df.at[i, 'p6_kda'] = p6_kda
        df.at[i, 'p7_kda'] = p7_kda
        df.at[i, 'p8_kda'] = p8_kda
        df.at[i, 'p9_kda'] = p9_kda
        df.at[i, 'p10_kda'] = p10_kda
        df.at[i, 'game_id'] = game_id

In [12]:
for i, row in df.iterrows():
    if df.at[i, 'game_type'] == "URF":
        p1_kda = df.at[i, 'p2_op_scores']
        p2_kda = df.at[i, 'p3_op_scores']
        p3_kda = df.at[i, 'p4_op_scores']
        p4_kda = df.at[i, 'p5_op_scores']
        p5_kda = df.at[i, 'p6_op_scores']
        p6_kda = df.at[i, 'p7_op_scores']
        p7_kda = df.at[i, 'p8_op_scores']
        p8_kda = df.at[i, 'p9_op_scores']
        p9_kda = df.at[i, 'p10_op_scores']
        p10_kda = df.at[i, 'p1_op_rankings']
        game_id = df.at[i, 'p2_op_rankings']
        df.at[i, 'p1_op_scores'] = np.nan
        df.at[i, 'p2_op_scores'] = np.nan
        df.at[i, 'p3_op_scores'] = np.nan
        df.at[i, 'p4_op_scores'] = np.nan
        df.at[i, 'p5_op_scores'] = np.nan
        df.at[i, 'p6_op_scores'] = np.nan
        df.at[i, 'p7_op_scores'] = np.nan
        df.at[i, 'p8_op_scores'] = np.nan
        df.at[i, 'p9_op_scores'] = np.nan
        df.at[i, 'p10_op_scores'] = np.nan
        df.at[i, 'p1_op_rankings'] = np.nan
        df.at[i, 'p2_op_rankings'] = np.nan
        df.at[i, 'p1_kda'] = p1_kda
        df.at[i, 'p2_kda'] = p2_kda
        df.at[i, 'p3_kda'] = p3_kda
        df.at[i, 'p4_kda'] = p4_kda
        df.at[i, 'p5_kda'] = p5_kda
        df.at[i, 'p6_kda'] = p6_kda
        df.at[i, 'p7_kda'] = p7_kda
        df.at[i, 'p8_kda'] = p8_kda
        df.at[i, 'p9_kda'] = p9_kda
        df.at[i, 'p10_kda'] = p10_kda
        df.at[i, 'game_id'] = game_id

59805

In [15]:
for i, row in df.iterrows():
    if df.at[i, 'game_type'] == "OneforAll":
        p1_kda = df.at[i, 'p2_op_scores']
        p2_kda = df.at[i, 'p3_op_scores']
        p3_kda = df.at[i, 'p4_op_scores']
        p4_kda = df.at[i, 'p5_op_scores']
        p5_kda = df.at[i, 'p6_op_scores']
        p6_kda = df.at[i, 'p7_op_scores']
        p7_kda = df.at[i, 'p8_op_scores']
        p8_kda = df.at[i, 'p9_op_scores']
        p9_kda = df.at[i, 'p10_op_scores']
        p10_kda = df.at[i, 'p1_op_rankings']
        game_id = df.at[i, 'p2_op_rankings']
        df.at[i, 'p1_op_scores'] = np.nan
        df.at[i, 'p2_op_scores'] = np.nan
        df.at[i, 'p3_op_scores'] = np.nan
        df.at[i, 'p4_op_scores'] = np.nan
        df.at[i, 'p5_op_scores'] = np.nan
        df.at[i, 'p6_op_scores'] = np.nan
        df.at[i, 'p7_op_scores'] = np.nan
        df.at[i, 'p8_op_scores'] = np.nan
        df.at[i, 'p9_op_scores'] = np.nan
        df.at[i, 'p10_op_scores'] = np.nan
        df.at[i, 'p1_op_rankings'] = np.nan
        df.at[i, 'p2_op_rankings'] = np.nan
        df.at[i, 'p1_kda'] = p1_kda
        df.at[i, 'p2_kda'] = p2_kda
        df.at[i, 'p3_kda'] = p3_kda
        df.at[i, 'p4_kda'] = p4_kda
        df.at[i, 'p5_kda'] = p5_kda
        df.at[i, 'p6_kda'] = p6_kda
        df.at[i, 'p7_kda'] = p7_kda
        df.at[i, 'p8_kda'] = p8_kda
        df.at[i, 'p9_kda'] = p9_kda
        df.at[i, 'p10_kda'] = p10_kda
        df.at[i, 'game_id'] = game_id

In [13]:
df.to_csv(r'cleaned output final.csv')

In [16]:
df.to_excel(r'cleaned output final2.xlsx')